<main class="mx-auto md:w-2/3 lg:w-1/3 flex-1">
<% @posts.each do |post|%>
  <div class="bg-indigo-200 p-2 rounded-lg">
    <%= render post %>
    <%= turbo_frame_tag post do %>
      <section class="flex flex-col items-center justify-between">
        <h2 class="mt-4 text-2xl font-bold">Comments</h2>
        <%# Loop comments %>
        <div class="comments flex-1 w-full flex flex-col items-between mb-6">
          <% if post.comments.any? %>
            <% post.comments.each do |comment| %>
              <div class="flex gap-2 justify-between py-1">
                <p>
                  <strong class="text-blue-600"><%= comment.user.user_name  %>:</strong>
                  <%= comment.content %>
                </p>
                <% if comment.user == current_user %>
                  <%= button_to post_comment_path(post.id, comment.id), method: :delete, data: { turbo_confirm: "Are you sure?"}, class: "hover:rotate-5 hover:scale-110 cursor-pointer" do %>
                    <svg id='Delete_24' width='12' height='12' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
                      <g transform="matrix(1.15 0 0 1.15 12 12)">
                        <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" translate(-12, -12)" d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z" stroke-linecap="round" />
                      </g>
                    </svg>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <p>No comments yet :(</p>
          <% end %>
        </div>
      </section>
      <% if user_signed_in? %>
        <%= form_with model: [post, post.comments.build], class:"" do |form| %>
          <div class="relative flex justify-center items-center">
            <svg class="absolute left-2 cursor-pointer hover:text-rose-600" id='Heart_24' width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='24' height='24' stroke='none' fill='#000000' opacity='0'/>
              <g transform="matrix(0.77 0 0 0.77 12 12)" >
                <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" translate(-15, -15)" d="M 9.5449219 3 C 5.3895807 3 2 6.3895806 2 10.544922 C 2 14.283156 4.9005496 18.084723 7.6601562 21.119141 C 10.419763 24.153558 13.171875 26.369141 13.171875 26.369141 C 13.180233852345026 26.375786472563394 13.18869860457135 26.382297640919596 13.197266 26.388672 C 13.517448 26.630481 13.956962 26.684854 14.369141 26.785156 C 14.548680110951228 26.9267895837626 14.77133535929201 27.00261658183115 15 27 C 15.228664640707992 27.00261658183115 15.451319889048772 26.9267895837626 15.630859 26.785156 C 16.043038 26.684854 16.482552 26.630481 16.802734 26.388672 C 16.81130139542865 26.382297640919596 16.819766147654974 26.375786472563394 16.828125 26.369141 C 16.828125 26.369141 19.580237 24.153558 22.339844 21.119141 C 25.099451 18.084722 28 14.283156 28 10.544922 C 28 6.3895806 24.610419 3 20.455078 3 C 17.450232 3 15.833405 4.5910542 15 5.5664062 C 14.166595 4.5910543 12.549768 3 9.5449219 3 z M 9.5449219 5 C 12.372924 5 14.069642 7.4290597 14.126953 7.5117188 C 14.290978217994812 7.795410376586756 14.583578726764001 7.980748365610278 14.910156 8.0078125 C 14.941327672122053 8.010580658453117 14.972612095012899 8.011884192758595 15.003906 8.0117188 C 15.009114253873943 8.011759486656278 15.014322746126059 8.011759486656278 15.019531 8.0117188 C 15.027351052398062 8.011159623834722 15.035164259195836 8.010508512156362 15.042969 8.0097656 C 15.068425026268823 8.008783322239324 15.09383422685043 8.006828763216484 15.119141 8.0039062 C 15.433168337066297 7.9684768048798045 15.711974837254685 7.786709447803891 15.871094 7.5136719 C 15.925786 7.4347249 17.624838 5 20.455078 5 C 23.529737 5 26 7.4702629 26 10.544922 C 26 13.147688 23.499768 16.870104 20.859375 19.773438 C 18.227966 22.666891 15.607768 24.780451 15.589844 24.794922 C 15.414236 24.925626 15.219097 25 15 25 C 14.780903 25 14.585764 24.925626 14.410156 24.794922 C 14.392232 24.780451 11.772034 22.66689 9.140625 19.773438 C 6.5002316 16.870105 4 13.147688 4 10.544922 C 4 7.4702629 6.470263 5 9.5449219 5 z" stroke-linecap="round" />
              </g>
            </svg>
            <%= form.text_field :content, class:"py-2 pl-8 pr-12 w-full rounded-full",  placeholder: "Add a comment..."%>
            <%= form.submit "Post", class:"block text-blue-500 font-bold right-3 top-2 hover:underline cursor-pointer absolute" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <br>
<% end %>
</main>