<nav class="h-12 bg-gray-700 text-gray-200">
  <div class="mx-auto max-w-7xl flex items-center justify-between h-full">
    <p><%= link_to "Instagram", root_path, class: "px-2 border-x-2 hover:text-gray-50" %></p>
    <ul class="flex h-full">
      <li><%= link_to "New post", new_post_path, class="border-r-2 px-2 hover:text-gray-50" %> </li>
      <li><%= link_to "Log in", "#", class="border-r-2 px-2 hover:text-gray-50" %></li>
      <li><%= link_to "Register", "#", class="border-r-2 px-2 hover:text-gray-50" %></p>
      <li><%= link_to "Register", "#", class="border-r-2 px-2 hover:text-gray-50" %></p>
    </div>
  </div>
</div>
</nav>